.App {
  margin: 0% auto;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 600px;
  border: 2px solid ghostwhite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.left-menu {
  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;
  border: 1px solid whitesmoke;
  align-items: center;
  justify-content: center;
}

.message-panel {
  background: whitesmoke;
  width: 70%;
}


.input-panel {
  width: 89%;
  height: 10%;
  margin-bottom: 5px;
  padding: 10px;
}

.menu-item {
  width: 78%;
  background: whitesmoke;
  padding: 9px;
  border: 2px solid whitesmoke;
  margin: 2px;
  border-radius: 7px;

}

.menu-item:hover {
  cursor: pointer;
}

.send {
  margin-bottom: 5px;
  padding: 10px;
}

.message {
  width: 100%;
  background: white;
  height: 88%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sender {
  display: flex
}

#you {
  justify-content: flex-start;
  word-wrap: break-word;
  width: 20%;
  background: #eeecec;
  margin: 5px;
  display: "flex";
  padding: 10px;
  font-style: italic;
  border-radius: 4px;
}

#other {
  justify-content: flex-end;
  width: 20%;
  margin-left: 73%;
  background: teal;
  padding: 10px;
  margin-top: 10px;
  font-style: italic;
  border-radius: 4px;

}


.header {
  background: #039191;
  padding: 38px;
  ;

  margin: 0% auto;
  width: 48%;
  display: flex;
  justify-content: end;
}

.vertical {
  width: 1%;
  background: teal;
}

.main1 {
  display: flex;
  flex-direction: row;
  margin: 17% auto;
  justify-content: center;
  padding: 40px;
  width: 40%;
  height: 50px;
  background: teal;
}

.but {
  padding: 10px;
  border-radius: 7px;
}

.but>button {
  padding: 10px
}

.but>button:hover {
  cursor: pointer;
}

.mainHeader {
  width: 100%;
  background: #343838;
  height: 80px;
  display: flex;

  justify-content: center;
  align-items: center;
  color: wheat;
}

.mainPage {
  display: flex;
  /* height: 100vh; */
  flex-direction: column;
  justify-content: space-between;

}

.container {

  width: 100%;
  height: 100%;
  display: flex;
  align-content: space-around;
  /* justify-content: space-around; */
}

.leftPanel {
  background: white;
  flex: 1;
  overflow-y: scroll;
  height: 589px;
}

.middlePanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border: 1px solid gray;
  flex: 4;

}

.meesagePanel {
  width: 100%;
  height: 90%;
}

.rightPanel {
  background: whitesmoke;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.popUp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  background: whitesmoke;
  width: 50%;
  margin: 26%;
  z-index: 10;
  position: absolute;
}
.popUp[display="false"]{
  display: none;
}

.logout {
  background: #210070;
  display: flex;
  align-content: center;
  align-items: center;
  height: 17%;
  width: 50%;
  border-radius: 50%;
  color: white
}
.select{
  color:red;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .sender[input]{
  width: 100%;

} */
input[type="text" ] {
  padding: 10px 2px;
  width: 100%;
  height: 9%;
}

form[show="false"]{
  display: none;
}

.footer {
  width: 100%;
  background-color: teal;
  height: 40px;


}

.name {
  /* display: flex;
  flex-direction: row-reverse;
  font-size: 20px;
  color: white;
  margin: 30px; */
}